<div class="footerBar">
    <div class="container scaling">
        <footer>
            <div class="row-fluid">
                <div class="span12 footerLinks" >
                    <ul>
                        <li>Company</li>
                        <li><a href="http://blog.sharewave.com">Blog</a></li>
                        <li><a href="http://sharewave.com/team">Team</a></li>
                        <li><a href="http://sharewave.com/careers">Careers</a></li>
                        <li><a href="http://sharewave.com/press">Press</a></li>
                        <li><a href="http://docs.sharewave.com">FAQs</a></li>
                    </ul>
                    <ul>
                        <li>Policies</i>
                        <li><a href="http://sharewave.com/privacy">Privacy Policy</span></a></li>
                        <li><a href="http://sharewave.com/terms">Terms of Use</span></a></li>
                    </ul>
                    <ul>
                        <li>Elsewhere</li>
                        <li><a href="https://twitter.com/sharewaveteam">Twitter</a></li>
                        <li><a href="https://github.com/sharewave/frontus">GitHub</a></li>
                        <li><a href="https://www.linkedin.com/company/2994986">LinkedIn</a></li>
                    </ul>
                    <span class="copyright pull-right">COPYRIGHT 2013-2014 SHAREWAVE LLC<br>ALL RIGHTS RESERVED</span>
                </div>
            </div>
        </footer>
    </div>
</div>