<div id="navBar">
        <div class="navbar topnav row-fluid">
            <div class="navbounder">
                <ul class="nav pull-left nav-logo">
                    <li><a href="/">
                        <img src="https://s3.amazonaws.com/sharewave/www/images/logo-dev-blue.png"/>

                    </a></li>
                </ul>
                 <ul class="nav pull-right nav-item">
                        <li>
                            <div class="standard-button small-standard-button hidden-phone">
                            <button class="btn" onclick="window.location='#subscribe'; document.getElementById('subscribe-button').focus();">Subscribe</button>
                            </div>                       
                        </li>
                </ul>
                <ul class="hidden-phone nav pull-right content-pages">
                    <li>
                        <h5>Follow </h5>
                    </li>
                    <li>
                        <a href="https://twitter.com/sharewaveteam" target="_blank"><span data-icon="&#xe035;" aria-hidden="true"></span></a>
                    </li>
                    <li>
                        <a href="http://feeds.feedburner.com/SharewaveDevBlog" target="_blank"><span data-icon="&#xe606;" aria-hidden="true"></span></a>
                    </li>
                </ul>
            </div>

        </div>
</div>