<!-- Subscribe -->

<div id="subscribe">
  <div class="row-fluid subscribebg">
    <div class="span10 offset1 text-center">
      <div class="sub-block">
        <ul class="sub-block">
          <li class="subleft">
          <h3>Sign up to receive our posts in your inbox, we write new content a few times each week</h3>    
          <form action="http://sharewave.us5.list-manage1.com/subscribe/post?u=13b733b77902e91a87b575f40&id=14054ad93f" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input  id="subscribe-button" type="email" class="SubscriptionInput" name="EMAIL" placeholder="Your Email Address">
          <button type="submit" name="subscribe" class="button">Subscribe</button>
          </form>
        </li>

        <li class="subcenter">
        <a href="https://sharewave.com">
        <img src="https://s3.amazonaws.com/sharewave/www/images/logo-blue.png"/></img></a><br>
        Visit our website to learn about Sharewave
        </li>

        <li class="subright">
        <a href="http://blog.sharewave.com"><img src="https://s3.amazonaws.com/sharewave/www/images/logo-blog-blue.png"/></img>
        </a><br>
        Visit the main blog for industry commentary
        </li>
    </div>
  </div>
</div>
