<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <!-- Font CSS -->
        <link rel="stylesheet" href="//f.fontdeck.com/s/css/Oj+Nln32FcMtkXgEzqsJznLXgf0/localhost/35219.css" type="text/css"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">

        <!-- Bootstrap Responsive CSS -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">        

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Bootstrap JS -->
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

    </head>
    <body>
    <div class="fixednav"> {% include header.html %}</div>
    <div class="spacer80"></div>
        <div class="site">
          {{ content }}
        </div>
    {% include footer.html %}   
    {% include analytics.html %}  
    </body>
</html>
