---
layout: default
---
{% assign author = site.data.authors[page.author] %}
{% assign category = site.data.categories[page.category] %}

<div class="postwidth">
<h1>{{ page.title }}</h1>
<p class="date">{{ page.date | date: '%B %-d, %Y' }} 
 &nbsp; // &nbsp; <a href="#disqus_thread"></a>
</p>
</div>

<div class="postwidth">
	{{ content }}
	<!--Sharing-->
	<div class="social-icons">
		share this post     
	    
	    <a href="https://news.ycombinator.com/submitlink?u={{site.url}}{{page.url}}&t={{page.title}}" target="_blank"><span data-icon="&#xe607;" aria-hidden="true"></span></a>

	    <a href="https://twitter.com/intent/tweet?url={{site.url}}{{page.url}}&text={{page.title}}" target="_blank"><span data-icon="&#xe035;" aria-hidden="true"></span></a>

	    <a href="http://www.linkedin.com/cws/share?url={{site.url}}{{page.url}}" target="_blank"><span data-icon="&#xe036;" aria-hidden="true"></span></a>

   	    <a href="http://www.facebook.com/share.php?u={{site.url}}{{page.url}}" target="_blank"><span data-icon="&#xe037;" aria-hidden="true"></span></a>

    </div>
	<!--Author & Category Byline-->
    <div class="post-byline">
		<div class="byline-block byline-left">
			<div class="byline-heading">
		     <h4>Written by</h4>
		    </div>
		    <ul class="byline">
		    	<li class="byline-author">
			    	<div class="byline-image gravatar">
			   		  	<a href="{{ author.page | prepend: "/authors" }}">
			   		  	<img src="{{ author.gravatar | prepend: "http://www.gravatar.com/avatar/" | append: ".png" }}"/></a>
			   		</div>
			    	<div class="byline-info">
				    	<a href="{{ author.page | prepend: "/authors" }}"><h4>{{ author.display_name }}</h4></a>
				    	{{ author.bio }} <br>
				    	<a href="{{ author.twitter | prepend: "http://twitter.com/"}}">{{ author.twitter | prepend: "@" }}</a>
			   		</div>
		   		</li>
		   	</ul>
	   	</div>
	   	<div class="byline-block">
			<div class="byline-heading">
		     <h4>Published in</h4>
		    </div>
		    <ul class="byline">
		    	<li class="byline-author">
		    		<div class="byline-category">
				    	<a href="{{ category.page | prepend: "/categories" }}"><h4>{{ category.name | capitalize }}</h4></a>
				    	{{ category.description }} <br>
				    	<!-- <a href="/categories">Other categories</a> -->
				    </div>
		   		</li>
		   	</ul>
	   	</div>
	   	<div class="spacer30"></div>
	</div>
</div>

{% include subscribe.html %}
<div class="postwidth comments">{% include comments.html %}</div>

